<div class="wrap">
  <div class="cnt">
    <div class="header">
      <div class="title-text">Data Sharing Options</div>
    </div>
    <div class="row">
      <div style="font-size: 14px; padding: 10px;">
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1"  name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">Share my data automatically with all merchants</label>
        </div>
        <div>&nbsp;</div>
        <div class="custom-control custom-radio">
          <input type="radio" checked id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Ask for my permission before sharing data to merchants</label>
        </div>
      </div>
    </div>
    <div style="text-align: center; padding: 20px;">
      <button style="width: 100px; background-color: #339af0; border:0; color:#fff;" type="button" data-toggle="modal" data-target="#changeEmailModal" class="btn btn-light btn-sm">
        Save
      </button>
    </div>
  </div>
</div>