.alert {
  margin-bottom: 50px;
  border-radius: 0;
  font-size: 14px;
}
.alert .alert-heading {
  font-size: 14px;
  font-weight: 600;
}
.row-wrapper {
  padding: 10px 0;
}
.link {
  cursor: pointer;
  color: #A6A5A5;
}
.link:hover {
  text-decoration: underline;
}
