<!-- <div class="wrap">
  <div class="cnt">
    <div class="header">
      <div class="title-text">Add Business</div>
    </div>
    <div class="row">
      <div class="row-wrapper bottom-margin">
        <div class="row-left small">Chamber Commerce No *</div>
        <div class="row-right big">
          <input type="text" />
        </div>
      </div>
      <div class="row-wrapper bottom-margin">
        <div class="row-left small">Official Name *</div>
        <div class="row-right big">
          <input type="text" />
        </div>
      </div>
      <div class="row-wrapper bottom-margin">
        <div class="row-left small">Trade Name</div>
        <div class="row-right big">
          <input type="text" />
        </div>
      </div>
      <div class="row-wrapper bottom-margin">
        <div class="row-left small">Business Address *</div>
        <div class="row-right big">
          <input type="text" />
        </div>
      </div>
      <div class="row-wrapper bottom-margin">
        <div class="row-left small">Telephone Number</div>
        <div class="row-right big">
          <input type="text" />
        </div>
      </div>
      <div class="row-wrapper bottom-margin">
        <div class="row-left small">Sector</div>
        <div class="row-right big">
          <select>
            <option value="volvo">Traders in building and construction materials</option>
            <option value="saab">Providers of factoring services</option>
            <option value="mercedes">Representatives of trusts as meant in Title 6 Book 3 Civil Code (BW)</option>
            <option value="audi">Local and International Banks</option>
            <option value="audi">Trust Companies and other Company Service Providers</option>
            <option value="audi">Investment Institutions</option>
            <option value="audi">Credit Unions and Savings Banks</option>
            <option value="audi">Money Remitters</option>
            <option value="audi">Casino's and Hazard Games such as Lottery and Internet Gambling</option>
          </select>
        </div>
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="header">
 
      <div class="title-text">Business Documents</div>
      <div style="float:right; line-height: 50px; margin-left: 5px; font-size: 12px;">
        Add Document
      </div>
      <div style="float:right; line-height: 50px; padding-top: 8px; font-size: 12px;"><i class="material-icons">
          add_circle
        </i>
      </div>
    </div>
    <div class="row row-items">
      <div class="row-wrapper">
        <div class="row-left">
          Add Documents
        </div>
      </div>
    </div>

    <div style="height: 100px;">&nbsp;</div>
  </div>
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          CHANGE PASSWORD
        </div>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit('customer')">
          <input name="email" placeholder="Old Password" type="email" email="true" />
          <input name="email" placeholder="New Password" type="email" email="true" />
          <input name="password" required placeholder="Retype New Password" />
          <button class="button light-blue">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="identificationDocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          IDENTIFICATON DOCUMENT
        </div>
      </div>
      <div class="modal-body">
        <div style="color:#fff;">
          {{uploadResponse.message}}%
        </div>
        <form [formGroup]="uploadIdForm" (ngSubmit)="onSubmit()">
          <input name="idType" placeholder="Identification Type" type="email" email="true" />
          <input name="password" required placeholder="Document No" />
          <input name="password" required placeholder="Expiration Date" />
          <input type="file" name="document" (change)="onFileChange($event)" />
          <button class="button light-blue">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changeDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          CHANGE DETAILS
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="detailsForm" (ngSubmit)="changeDetails()">
          <input formControlName="address" name="address" placeholder="New Address" type="text" />
          <input formControlName="place" name="place" required placeholder="New Place" />
          <input formControlName="country" name="country" required placeholder="New Country" />
          <button class="button light-blue">Save Details</button>
        </form>
      </div>
    </div>
  </div>
</div> -->