<div class="center-index">
  <div class="center-frame">
    <!-- <div class="alert alert-primary" role="alert">
      Your account has been successfully confirmed. Please fill in your login information to enter your account.
    </div> -->
    <div class="title">Please choose a password for your account.</div>
    <div class="index-form">
      <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit('business')">        
        <input formControlName="icsNo" placeholder="MiID No" type="hiden" />        
        <input formControlName="password" type="password" name="password" required placeholder="Password" />
        <input formControlName="retypepassword" placeholder="Retype Password" required type="password" />
        <button class="button light-blue">Set Password</button> 
      </form>
    </div>
  </div>
</div>



