<div *ngIf="user" class="wrap">
  <form [formGroup]="insertDocForm"  (ngSubmit)="uploadDocument()">
    <div class="cnt">
      <div class="center">

        <div class="navbar-inline">
          <nav class="navbar navbar-expand-md navbar-dark primary-color mb-5 no-content">
            <div class="mr-auto">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                  <li routerLink="/business/customers/1/10" class="breadcrumb-item grey-txt cursor underline">My
                    Customers</li>
                  <li routerLink="/business/user/{{user.icsNo}}" class="breadcrumb-item grey-txt cursor underline"
                    aria-current="page">{{user.customerName}}</li>
                  <li *ngIf="selectedDocument == 'id'" class="breadcrumb-item grey-txt-active" aria-current="page">
                    Upload Identification Document</li>
                  <li *ngIf="selectedDocument == 'other'" class="breadcrumb-item grey-txt-active" aria-current="page">
                    Upload Other Document</li>
                </ol>
              </nav>
            </div>
          </nav>
        </div>
      </div>

      <div class="center">
        <div class="row-header">
          <div class="row-cols col-invNo">Select Document Type</div>
        </div>
        <div *ngFor="let item of documentType; let i = index" class="row">
          <div style="padding: 0px;" class="row-wrapper">
            <table width="100%" cellspacing="0" cellpadding="15">
              <tr routerLink="/documents/add/{{item.id}}/{{user.icsNo}}">
                <td [ngClass]="selectedDocument == item.id ? item.color : ''"
                  style="border-style: solid; text-align: center; padding: 0; border-width: 0 1px 0 0; border-color: #efefef;"
                  valign="middle" width="30">
                  <div style="float:left; width: 30px;">
                    <i style="color:#fff;" class="fas fa-check"></i>
                  </div>
                </td>
                <td>
                  {{item.type}}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div style="height: 50px;">
          &nbsp;
        </div>
      </div>

      <div *ngIf="selectedDocument == 'id'" class="center">
        <div class="row-header">
          <div class="row-cols col-invNo">Select Identification Type</div>
        </div>
        <div *ngFor="let item of identificationType; let i = index" class="row">
          <div style="padding: 0px;" class="row-wrapper">
            <table width="100%" cellspacing="0" cellpadding="15">
              <tr (click)="setIdentificationType(item)">
                <td [ngClass]="item.selected || selectedRisk == item.type ? item.color : ''"
                  style="border-style: solid; text-align: center; padding: 0; border-width: 0 1px 0 0; border-color: #efefef;"
                  valign="middle" width="30">
                  <div style="float:left; width: 30px;">
                    <i style="color:#fff;" class="fas fa-check"></i>
                  </div>
                </td>
                <td>
                  {{item.type}}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div style="height: 50px;">
          &nbsp;
        </div>
      </div>

      <div class="center">
        <div class="section">
          <div class="section-title">Document Information</div>
          <div class="section-input-wrapper">
            <div class="section-input-text-area">
              Document No.
            </div>
            <div class="section-input-area">
              <input class="input" formControlName="docNo" type="text" />
            </div>
          </div>
          <div *ngIf="selectedDocument == 'other'" class="section-input-wrapper">
            <div class="section-input-text-area">
              Document Name
            </div>
            <div class="section-input-area">
              <input class="input" formControlName="docName" type="text" />
            </div>
          </div>
          <!-- <div class="section-input-wrapper">
            <div class="section-input-text-area">
              Select Transaction Type
            </div>
            <div style="float: right; width: 900px;">
              <select class="custom-select" formControlName="transactionType">
                <option value="Cash">Cash</option>
                <option value="Giro">Wire Transafer</option>
                <option value="Giro">Giro Based</option>
                <option value="Giro">Swipe</option>
                <option value="Giro">Personal Cheque</option>
                <option value="Giro">Cassier Cheque</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div> -->
          <div *ngIf="selectedDocument == 'id'">
            <div class="section-input-wrapper">
              <div class="section-input-text-area">
                Date of Issue
              </div>
              <div class="section-input-area">
                <input (click)="d.toggle()" formControlName="dateOfIssue" class="input" ngbDatepicker #d="ngbDatepicker"
                  type="text" />
              </div>
            </div>
            <div class="section-input-wrapper">
              <div class="section-input-text-area">
                Expiration Date
              </div>
              <div class="section-input-area">
                <input (click)="e.toggle()" formControlName="idExpirationDate" class="input" ngbDatepicker
                  #e="ngbDatepicker" type="text" />
              </div>
            </div>
            <div class="section-input-wrapper">
              <div class="section-input-text-area">
                Place of Issue
              </div>
              <div class="section-input-area">
                <input class="input" formControlName="idPlaceOfIssue" type="text" />
              </div>
            </div>
            <div class="section-input-wrapper">
              <div class="section-input-text-area">
                Country of Issue
              </div>
              <div class="section-input-area">
                <input class="input" formControlName="idCountryOfIssue" type="text" />
              </div>
            </div>
            <div class="section-input-wrapper">
              <div class="section-input-text-area">
                Document
              </div>
              <div class="section-input-area">
                <label for="file-upload" style="border:0;" class="custom-file-upload lime-green">
                  <i class="fa fa-cloud-upload"></i>&nbsp;Select Document
                </label>
                <div style="width:400px;">
                  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                    [aspectRatio]="4 / 3" [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                  </image-cropper>
                </div>
                <input accept="image/x-png,image/gif,image/jpeg" id="file-upload" size="600" type="file"
                  (change)="fileChangeEvent($event)" />
              </div>
            </div>
          </div>
        </div>
        <button class="button lime-green">Upload Document</button>
      </div>
      <div style="height: 150px;">
        &nbsp;
      </div>
    </div>
  </form>
</div>