<div *ngIf="user" class="wrap">
  <div class="cnt">
    <div class="center">

      <div class="navbar-inline">
        <nav class="navbar navbar-expand-md navbar-dark primary-color mb-5 no-content">
          <div class="mr-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                <li class="breadcrumb-item grey-txt-active" aria-current="page">Merchant Account</li>
              </ol>
            </nav>
          </div>
        </nav>
      </div>
    </div>
    <div class="center">
      <div class="section">
        <div>
          <div class="section-title">Account Information</div>
          <div class="section-item">
            <span class="topic">ICS-No:</span><span class="txt-spacing">{{user.icsNo}}</span>
          </div>
          <div class="section-item">
            <span class="topic">ICS Expiration Date:</span><span class="txt-spacing">{{user.formattedExpDate}}</span>
          </div>
          <div class="section-item">
            <span class="topic">FIU Reporters Code:</span><span class="txt-spacing">{{user.reportersCode}}</span>
          </div>
          <div style="margin-top: 20px;" class="section-item">
            <span class="topic">Chamber Of Commerce No:</span><span class="txt-spacing">{{user.chamberNo}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Statutory Name:</span><span class="txt-spacing">{{user.name}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Business Name:</span><span class="txt-spacing">{{user.tradeName}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Legal Form:</span><span class="txt-spacing">{{user.legalName}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Street Name:</span>{{user.address}}<span class="txt-spacing"></span>
          </div>
          <div class="section-item">
            <span class="topic">Street Number:</span><span class="txt-spacing">{{user.streetNumber}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Place:</span><span class="txt-spacing">{{user.place}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Country:</span><span class="txt-spacing">{{user.country}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Email:</span><span class="txt-spacing">{{user.email}}</span>
          </div>
          <div class="section-item">
            <span class="topic">Telephone:</span><span class="txt-spacing">{{user.telephone}}</span>
          </div>
          <div style="margin-top: 20px;">
            <div class="section-item">
              <span class="topic">Sector:</span><span class="txt-spacing">{{user.sector}}</span>
            </div>
            <div class="section-item">
              <span class="topic">Business Activity:</span><span class="txt-spacing">{{user.businessActivity}}</span>
            </div>
          </div>
        </div>
        <div style="margin-left: auto;">
          <img [src]="user.qrImage" title="Link to Google.com" />
        </div>
      </div>
      <div class="row-footer">
        <span routerLink="/merchantaccount/edit" class="bottom-button">Edit Account&nbsp;&nbsp;<i
            class="fas fa-pen"></i></span>
      </div>

      <div>
        <div class="row-header">
          <div class="row-cols col-doc-name">Sector Threshold</div>
          <div class="row-cols col-date">Transaction Type</div>
          <div class="row-cols col-date">Customer Type</div>
        </div>
        <div *ngFor="let item of thresholds; let i = index" class="row row-items">
          <div class="row-wrapper">
            <div class="row-cols col-doc-name big-col">
              (ANG) {{item.amount}}
            </div>
            <div class="row-cols col-date big-col">
              {{item.transactionType}}
            </div>
            <div class="row-cols col-date big-col">
              {{item.userType == 'natural' ? 'Natural Person' : 'Legal Entity'}}
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="row-header">
          <div class="row-cols col-doc-name">Bank Account Nr</div>
          <div class="row-cols col-date">Bank Name</div>
          <div class="add-btn"><i routerLink="/merchantaccount/bankaccounts/add" class="fad fa-plus-circle"></i></div>
        </div>
        <div *ngFor="let item of bankAccounts; let i = index" class="row row-items">
          <div class="row-wrapper">
            <div class="row-cols col-doc-name big-col">
              {{item.accountNr}}
            </div>
            <div class="row-cols col-date big-col">
              {{item.bankName}}
            </div>
          </div>
        </div>
        <div class="row-footer">
          <span routerLink="/merchantaccount/bankaccounts" class="bottom-button">All My Bank Accounts&nbsp;&nbsp;<i
              class="far fa-external-link"></i></span>
        </div>
      </div>

      <div>
        <div class="row-header">
          <div class="row-cols col-doc-name">Branch <span *ngIf="seats">({{branches.length}})</span></div>
          <div class="add-btn"><i routerLink="/merchantaccount/branch/add" class="fad fa-plus-circle"></i></div>
        </div>
        <div *ngFor="let item of branches; let i = index" class="row row-items">
          <div class="row-wrapper">
            <div class="row-cols col-doc-name big-col">
              {{item.branchName}}
            </div>
            <div class="row-cols col-date big-col">
              {{item.branchAddress}}
            </div>
          </div>
        </div>
        <div class="row-footer">
          <span routerLink="/merchantaccount/branches" class="bottom-button">All Branch&nbsp;&nbsp;<i
              class="far fa-external-link"></i></span>
        </div>
      </div>

      <div>
        <div class="row-header">
          <div class="row-cols col-doc-name">Seats <span *ngIf="seats">({{seats.length}})</span></div>
          <div class="add-btn"><i routerLink="/merchantaccount/seats/add" class="fad fa-plus-circle"></i></div>
        </div>
        <div *ngFor="let item of seats; let i = index" class="row row-items">
          <div class="row-wrapper">
            <div class="row-cols col-doc-name big-col">
              {{item.fullName}}
            </div>
            <div class="row-cols col-date big-col">
              {{item.email}}
            </div>
          </div>
        </div>
        <div class="row-footer">
          <span routerLink="/merchantaccount/seats" class="bottom-button">All Seats&nbsp;&nbsp;<i
              class="far fa-external-link"></i></span>
        </div>
      </div>

    </div>

    <div style="height: 150px;">
      &nbsp;
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="upAccModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          BANK ACCOUNT DETAILS
        </div>
      </div>
      <div class="modal-body"> 
        <form [formGroup]="bankAccountForm" (ngSubmit)="submitBankAccount()">
          <input formControlName="bankaccountnr" name="address" placeholder="Bank Account Nr" type="text" />
          <input formControlName="bank" name="place" required placeholder="Bank Name" />
          <button class="button lime-green">Save</button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="modal fade" id="addSeatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          ADD SEATS
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="addSeatsForm" (ngSubmit)="submitSeats()">
          <input formControlName="firstname" name="address" placeholder="First Name" type="text" />
          <input formControlName="lastname" name="place" required placeholder="Last Name" />
          <input formControlName="email" name="place" required placeholder="Email" />
          <button class="button lime-green">Save</button>
        </form>
      </div>
    </div>
  </div>
</div> -->