<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          CUSTOMER PORTAL
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit('customer')">
          <input formControlName="icsNo" placeholder="ICS-No." type="text" />
          <input formControlName="password" type="password" name="password" required placeholder="Password" />
          <button class="button light-blue">Sign In</button>
        </form>
        <div class="text">Forgot Password?</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loginBusinessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          BUSINESS PORTAL
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit('business')">
          <input formControlName="email" placeholder="Email" type="text" />
          <input formControlName="icsNo" placeholder="Merchant ICS-No." type="text" />
          <input formControlName="password" type="password" name="password" required placeholder="Password" />
          <button class="button light-blue">Sign In</button>
        </form>
        <!-- <div class="text">Forgot Password?</div> -->
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #otherDocContent let-modal>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit('business')">
    <div class="my-modal-header">
      <i (click)="modal.dismiss('Cross click')" class="fal fa-times my-modal-close-btn"></i>
    </div>
    <div class="my-modal-body">
      <div class="my-modal-title">BUSINESS PORTAL</div>
      <div>
        <input formControlName="email" placeholder="Email" type="text" /> 
      </div>
      <div>
        <input formControlName="icsNo" placeholder="Merchant ICS-No." type="text" />
      </div>
      <div>
        <input formControlName="password" type="password" name="password" required placeholder="Password" />
      </div>
      <button class="button light-blue">Sign In</button>
    </div>
  </form>  
</ng-template> -->




<!-- <div class="modal fade" id="fpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-h1">
        <div class="model-close-container">
          <i data-dismiss="modal" class="fal fa-times"></i>
        </div>
      </div>
      <div class="modal-h">
        <div class="modal-title">
          TROUBLE ACCESSING YOUR ACCOUNT?
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="fpForm" (ngSubmit)="onSubmit('business')">
          <input formControlName="email" name="email" placeholder="Email" type="email" email="true" />
          <button class="button light-blue">Send me a reset link</button>
        </form>
      </div>
    </div>
  </div>
</div> -->