<div *ngIf="user" class="wrap">
  <div class="cnt">
    <div class="center">
      <div class="navbar-inline">
        <nav class="navbar navbar-expand-md navbar-dark primary-color mb-5 no-content">
          <div class="mr-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                <li routerLink="/business/customers/1/10" class="breadcrumb-item grey-txt cursor underline">My
                  Customers</li>
                <li routerLink="/business/user/{{user.icsNo}}" class="breadcrumb-item grey-txt cursor underline">{{user.customerName}}</li>
                <li class="breadcrumb-item grey-txt-active" aria-current="page">Other Documents</li>
              </ol>
            </nav>
          </div>
        </nav>
      </div>

      <div *ngIf="userDocuments && userDocuments.other">
        <div class="row-header">
          Other Documents
        </div>
        <div *ngFor="let item of userDocuments.other; let i = index" class="row row-items">
          <div class="row-wrapper">
            <div [ngClass]="{'grey-txt': item.permission != '1'}" class="row-left">
              {{item.documentName}}
            </div>
            <div *ngIf="item.permission == '0'" class="row-right">
              <div class="right-col">
                <span class="right-txt">Pending Authorization</span>
              </div>
            </div>
            <div *ngIf="item.permission == '1' && item.verified == '1'" class="button-right button-right-active">
              <div class="certified-col">
                <i class="material-icons">
                  done
                </i><br />
                <span class="certified-txt">Verified</span>
              </div>
            </div>
            <div *ngIf="item.permission == '1' && item.verified != '1'" (click)="fyDocs(item, 'verify')" class="button-right">
              <div class="certified-col">
                <i class="material-icons">
                  done
                </i><br />
                <span class="certified-txt">Verify</span>
              </div>
            </div>
            <div (click)="requestpermission(item.documentId, item.icsNo)" *ngIf="item.new == '1'" class="button-right">
              <div class="certified-col">
                <i class="material-icons">
                  lock
                </i><br />
                <span class="certified-txt">Request</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>