<div *ngIf="user" class="wrap">
  <div class="cnt">
    <div class="center">
      <div class="navbar-inline">
        <nav class="navbar navbar-expand-md navbar-dark primary-color mb-5 no-content">
          <div class="mr-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb clearfix d-none d-md-inline-flex pt-0">
                <li routerLink="/business/customers/1/10" class="breadcrumb-item grey-txt cursor underline">My
                  Customers</li>
                <li routerLink="/business/user/{{user.icsNo}}" class="breadcrumb-item grey-txt cursor underline">{{user.customerName}}</li>
                <li class="breadcrumb-item grey-txt-active" aria-current="page">Other Documents <span *ngIf="userDocuments && userDocuments.id">({{userDocuments.other.length}})</span></li>
              </ol>
            </nav>
          </div>
        </nav>
      </div>

      <div *ngIf="userDocuments && userDocuments.other">
        <div class="row-header">
          <div class="row-cols col-doc-name">Document Name</div>
          <div class="row-cols col-date">Document No</div>
          <div class="add-btn"><i routerLink="/documents/add/other/{{user.icsNo}}" class="fad fa-plus-circle"></i></div>
        </div> 
        <div *ngFor="let item of userDocuments.other; let i = index" class="row row-items">
          <table width="100%">
            <tr>
              <td (click)="openDoc(item, action)" width="264" style="height: 75px; padding: 0 15px;">
                {{item.documentName}}
              </td>
              <td (click)="openDoc(item, action)" width="200">
                <span>
                  <span>{{item.documentNr}}</span>
                </span>
              </td>
              <td style="text-align: right; padding: 0 20px;">
                <!-- <span *ngIf="item.expired == '1'" [ngClass]="{'red-txt': true}"><i class="fas fa-exclamation-circle"></i></span> -->&nbsp;
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>