.searchWrappper {
  background-color: #323544;
  padding: 35px;
}
.searchWrappper .input {
  font-size: 14px;
  border: solid 0px ;
  background-color: #23252f;
  border-radius: 2px;
  width: 100%;
  line-height: 50px;
  height: 50px;
  margin-bottom: 20px;
  padding: 5px 15px;
  color: #fff;
}
.inline-btn {
  cursor: pointer;
  font-size: 12px;
  color: #6c757d;
}
.fa-trash {
  cursor: pointer;
}
.inline-btn:hover {
  text-decoration: underline;
}
.alert {
  font-size: 14px;
}
.material-icons {
  font-size: 22px;
}
.add-btn {
  float: right;
}
.add-btn .fa-plus-circle {
  font-size: 20px;
  cursor: pointer;
}
.my-modal-title {
  text-align: center;
  font-weight: 300;
}
.modal-body {
  padding: 10px 1px 20px 1px !important;
}
.modal-body .items {
  margin-left: -1px;
  cursor: pointer;
  font-weight: 400 !important;
  background-color: #0e0e0e;
  padding: 10px 15px;
}
.modal-body .items:hover {
  background-color: #1a1a1a;
}
.checkbox {
  width: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 0px;
  height: 20px;
  background-color: #f6f6f6;
}
.radiobutton {
  width: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  height: 20px;
  background-color: #f6f6f6;
  line-height: 10px;
  padding: 5px 0;
}
.radiobutton .checked {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #20c997;
  margin: 0 auto;
}
.on {
  background-color: #20c997;
}
.off {
  background-color: #fff;
}
